<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CachingService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <CachingService.Properties.Settings>
            <setting name="ThermoThrehold" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="AgilentThreshold" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="RootFolders" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>D:\FT Data\Data Samples\2012-HeLa-extracts-boston</string>
                        <string>D:\FT Data\Data Samples\Complete labeling</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="CachingService_MSDataService_MSDataService" serializeAs="String">
                <value>http://charon.ad.cmm.se:6060/DevRawFileAccess/Service.asmx</value>
            </setting>
            <setting name="Period" serializeAs="String">
                <value>60</value>
            </setting>
        </CachingService.Properties.Settings>
    </applicationSettings>
</configuration>